@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 28px;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-blue;
  font-family: 'Manrope', sans-serif;
  padding: 0.3rem;
}
